@model RicardoSalesWeb.Controllers.ProductModelData

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nuevo Producto</title>
</head>
<body>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

             <div class="form-group">
                <label asp-for="Product.Code" class="control-label"></label>
                <input asp-for="Product.Code" class="form-control" />
                <span asp-validation-for="Product.Code" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Stock" class="control-label"></label>
                <input asp-for="Product.Stock" class="form-control" />
                <span asp-validation-for="Product.Stock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StoreModel.Branch" class="control-label"></label>
                @Html.DropDownListFor(m=>m.StoreModel.StoreId,Model.Stores,"Seleccione una tienda",new {@class="form-select"})
                <span asp-validation-for="Product.Stock" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Product.Active" class="control-label"></label>
                <select asp-for="Product.Active" class="form-select">
                    <option value="true" selected>Activo</option>
                    <option value="false">Inactivo</option>
                </select>
                <span asp-validation-for="Product.Active" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
